In [1]:
import pandas as pd
from pymongo import MongoClient
from geopy.distance import VincentyDistance
import datetime
import calendar
import json

client = MongoClient('mongodb://ec2-34-248-97-137.eu-west-1.compute.amazonaws.com:27017')
db = client['C8Geo']
collection = db['locations']

%load_ext sql
%sql postgresql://mesut:TeW15WQBfA7i@c-sec-prod.cilede3fhork.eu-west-1.rds.amazonaws.com/c_db

AudienceThresholds = json.load(open(r'.\Documents\GitHub\cayenne\AudienceThresholds.json'))

In [2]:
collection.count()

12480758

In [3]:
TargetLocation = 51.5085479658, -0.202332524      # Portobello Market
Radius = 500                       # Meters



UsersWithin = []

for doc in (collection.find({'created_at' : {'$exists' : True}, 'created_at' : {'$gte' : datetime.datetime(2017, 4, 6)}, 
                     'created_at' : {'$lte' : datetime.datetime.now()}}, projection={'_id' : False, 'userId' : True, 
                                                         '_source.coords.latitude' : True, '_source.coords.longitude' : True})):
    
    
    CurrentLoc = doc['_source']['coords']['latitude'], doc['_source']['coords']['longitude']

    if (VincentyDistance(TargetLocation, CurrentLoc).meters <= Radius) & (not doc['userId'] in UsersWithin):
        
        UsersWithin.append(doc['userId'])

In [4]:
AudQuests = %sql select audience_id, audience_name from audience_question_list2
AudQuests = AudQuests.DataFrame()

19125 rows affected.

In [5]:
ID2Name = {}
for _, (AudienceID, AudienceName) in AudQuests.iterrows():
    if not AudienceID in ID2Name.keys():
        ID2Name[AudienceID] = AudienceName
Name2ID = dict(zip(ID2Name.values(), ID2Name.keys()))

In [6]:
User = UsersWithin[0]
Groups = [8, 9, 17, 43]
Groups = [str(Group) for Group in Groups]

In [7]:
%%capture
GroupedAudienceCounts = {}

for User in UsersWithin:
    
    for Group in Groups:
        
        UserValues = %sql select mean, audience_id from user_audiences_mean where user_id = :User and audience_id in (select id from audiences where audience_group_id = :Group)
        UserValues = UserValues.DataFrame()
        
        for _, (mean, audience_id) in UserValues.iterrows():
            
            try:
                if mean >= AudienceThresholds[ID2Name[int(audience_id)]]:
                    
                    if (Group, int(audience_id)) in GroupedAudienceCounts.keys():
                        GroupedAudienceCounts[(Group, int(audience_id))] += 1
                    else:
                        GroupedAudienceCounts[(Group, int(audience_id))] = 1
            
            except:
                continue

In [8]:
GroupedAudienceCounts_DF = pd.DataFrame(columns=['Audience Group', 'Audience Name', 'Count'])

for (GroupID, AudienceID), Count in GroupedAudienceCounts.items():
    GroupedAudienceCounts_DF = GroupedAudienceCounts_DF.append({'Audience Group' : GroupID, 
                                        'Audience Name' : ID2Name[AudienceID], 'Count' : Count}, ignore_index=True)

In [9]:
G1 = GroupedAudienceCounts_DF[GroupedAudienceCounts_DF['Audience Group'] == '8']
G1.sort_values(by='Count', ascending=False)[:10]

    Audience Group      Audience Name  Count
261              8           Cautious   47.0
99               8     Self-conscious   47.0
106              8  Emotionally Aware   46.0
74               8           Outgoing   45.0
316              8            Curious   44.0
111              8        Disciplined   44.0
253              8           Cheerful   43.0
227              8           Sociable   43.0
102              8        Cooperative   43.0
136              8          Ambitious   42.0

In [10]:
G1 = GroupedAudienceCounts_DF[GroupedAudienceCounts_DF['Audience Group'] == '9']
G1.sort_values(by='Count', ascending=False)[:10]

    Audience Group            Audience Name  Count
49               9    Oriented to extrinsic   46.0
213              9                 Habitual   45.0
370              9         Social awareness   44.0
270              9  New Experiences Focused   44.0
217              9         Leisure Oriented   44.0
11               9                 Domestic   44.0
300              9          Health Oriented   42.0
96               9              Challenging   42.0
304              9           Money Oriented   41.0
39               9              Acquisitive   41.0

In [11]:
G1 = GroupedAudienceCounts_DF[GroupedAudienceCounts_DF['Audience Group'] == '17']
G1.sort_values(by='Count', ascending=False)[:10]

    Audience Group          Audience Name  Count
326             17       Alcoholic drinks   42.0
177             17      Cooking & Recipes   37.0
205             17              Beverages   35.0
90              17                  Snack   31.0
242             17           Fine cuisine   27.0
167             17                  Water   26.0
208             17                 Coffee   24.0
60              17              Junk food   24.0
93              17     East Asian Cuisine   24.0
19              17  Mediterranean Cuisine   23.0

In [12]:
G1 = GroupedAudienceCounts_DF[GroupedAudienceCounts_DF['Audience Group'] == '43']
G1.sort_values(by='Count', ascending=False)[:10]

    Audience Group Audience Name  Count
107             43     Instagram   41.0
190             43      Facebook   39.0
351             43       Netflix   32.0
130             43          Uber   31.0
17              43       Spotify   31.0
67              43       Twitter   30.0
182             43      WhatsApp   30.0
320             43         Apple   29.0
315             43      Snapchat   29.0
197             43          Visa   28.0

In [43]:
collection.find({'created_at' : {'$exists' : True}, 'created_at' : {'$gte' : datetime.datetime(2017, 6, 20)}, 'created_at' : {'$lte' : datetime.datetime(2017, 6, 26)}}).count()

3461789

In [35]:
for doc in collection.find({'created_at' : {'$exists' : True}}).sort([('created_at', -1)]).limit(5):
    print(doc, '\n')

{'userId': '57866', 'deviceId': '6d052362276ace04', '_id': ObjectId('597715f6a14a030020f55a8c'), 'created_at': datetime.datetime(2017, 7, 25, 9, 57, 10), '_source': {'timestamp': '2017-07-25T09:57:08.903Z', 'is_moving': False, 'activity': {'confidence': 100, 'type': 'unknown'}, 'extras': {}, 'event': 'motionchange', 'odometer': 23.8, 'battery': {'is_charging': False, 'level': 0.9}, 'uuid': 'c1e83433-76c8-4250-b634-daeb3d1bd461', 'coords': {'longitude': -1.9880795, 'altitude': -1, 'latitude': 52.4457316, 'heading': -1, 'accuracy': 18.9, 'speed': -1}}, 'loc': {'coordinates': [-1.9880795, 52.4457316], 'type': 'Point'}}

{'userId': '56532', 'deviceId': 'baf7c89b4332b85e', '_id': ObjectId('597715f641ef310020d8e6b5'), 'created_at': datetime.datetime(2017, 7, 25, 9, 57, 10), '_source': {'timestamp': '2017-07-25T09:57:09.000Z', 'is_moving': True, 'activity': {'confidence': 77, 'type': 'in_vehicle'}, 'extras': {}, 'odometer': 291214.7, 'battery': {'is_charging': False, 'level': 0.59}, 'uuid': 'f1689fab-8ecf-4ff9-88be-e0d6106d4f45', 'coords': {'longitude': -2.13258046, 'altitude': 163, 'latitude': 52.49200642, 'heading': 179.2, 'accuracy': 3, 'speed': 5.93}}, 'loc': {'coordinates': [-2.13258046, 52.49200642], 'type': 'Point'}}

{'userId': '87876', 'deviceId': 'f1235b28da42fa4b', '_id': ObjectId('597715f541ef310020d8e6b2'), 'created_at': datetime.datetime(2017, 7, 25, 9, 57, 9), '_source': {'timestamp': '2017-07-25T09:57:08.912Z', 'is_moving': True, 'activity': {'confidence': 35, 'type': 'still'}, 'extras': {}, 'odometer': 66386.4, 'battery': {'is_charging': False, 'level': 0.65}, 'uuid': '0b846058-d8ac-4bfd-9886-15cfcb5aaa63', 'coords': {'longitude': 9.9726849, 'altitude': -1, 'latitude': 52.3766714, 'heading': -1, 'accuracy': 700, 'speed': -1}}, 'loc': {'coordinates': [9.9726849, 52.3766714], 'type': 'Point'}}

{'userId': '105380', 'deviceId': '9daaef29b7401a00', '_id': ObjectId('597715f541ef310020d8e6b3'), 'created_at': datetime.datetime(2017, 7, 25, 9, 57, 9), '_source': {'timestamp': '2017-07-25T09:57:09.481Z', 'is_moving': False, 'activity': {'confidence': 100, 'type': 'unknown'}, 'extras': {}, 'event': 'motionchange', 'odometer': 0, 'battery': {'is_charging': False, 'level': 0.25}, 'uuid': '877c64ea-45e1-42c3-9787-7f0428827ef1', 'coords': {'longitude': -1.8739882, 'altitude': -1, 'latitude': 53.7160229, 'heading': -1, 'accuracy': 20, 'speed': -1}}, 'loc': {'coordinates': [-1.8739882, 53.7160229], 'type': 'Point'}}

{'userId': '96204', 'deviceId': 'e9fe4da226b83935', '_id': ObjectId('597715f541ef310020d8e6b4'), 'created_at': datetime.datetime(2017, 7, 25, 9, 57, 9), '_source': {'timestamp': '2017-07-25T09:57:08.999Z', 'is_moving': True, 'activity': {'confidence': 97, 'type': 'in_vehicle'}, 'extras': {}, 'odometer': 35188.6, 'battery': {'is_charging': False, 'level': 0.48}, 'uuid': 'f0dd683c-a283-42aa-9e41-931f8914f17e', 'coords': {'longitude': -0.7346898, 'altitude': 121.9, 'latitude': 52.3935834, 'heading': 18, 'accuracy': 6, 'speed': 8.07}}, 'loc': {'coordinates': [-0.7346898, 52.3935834], 'type': 'Point'}}

In [38]:
doc['_source']['timestamp']

'2017-07-25T09:57:08.999Z'

In [39]:
for doc in collection.find().sort([('_source.timestamp', -1)]).limit(5):
    print(doc, '\n')

{'_source': {'timestamp': '2065-03-29T02:51:58.482Z', 'is_moving': True, 'activity': {'confidence': 85.0, 'type': 'still'}, 'extras': {}, 'odometer': 274.1, 'battery': {'is_charging': False, 'level': 0.93}, 'uuid': '6d8a5ca5-d7d6-4444-854a-94835d63b648', 'coords': {'longitude': -2.7980279, 'altitude': -1.0, 'latitude': 54.0428547, 'heading': -1.0, 'accuracy': 19.6, 'speed': -1.0}}, 'loc': {'coordinates': [-2.798027992248535, 54.04285430908203], 'type': 'Point'}, 'deviceid': 'e837ba3abc02d8cf', '_id': ObjectId('5992a064b783c2b95aaec6b0'), 'userid': '94197'}

{'_source': {'timestamp': '2065-03-28T05:04:36.790Z', 'battery': {'is_charging': False, 'level': 0.34}, 'activity': {'confidence': 77.0, 'type': 'in_vehicle'}, 'extras': {}, 'is_moving': True, 'uuid': 'cbf40c32-3175-4380-9c97-d64dc8cc3771', 'coords': {'longitude': -1.9036753, 'altitude': -1.0, 'latitude': 50.7216362, 'heading': -1.0, 'accuracy': 20.7, 'speed': -1.0}, 'odometer': 18520.5}, 'loc': {'coordinates': [-1.9036753177642822, 50.72163772583008], 'type': 'Point'}, 'deviceid': '7f859ccaf8bc63cf', '_id': ObjectId('5991fc45b783c2b95a9f7ee6'), 'userid': '130640'}

{'_source': {'timestamp': '2065-03-25T02:36:03.157Z', 'battery': {'is_charging': False, 'level': 0.79}, 'activity': {'confidence': 100.0, 'type': 'unknown'}, 'extras': {}, 'event': 'motionchange', 'is_moving': False, 'uuid': '4bafa661-d85e-44ef-9c1f-4083ff9582b8', 'coords': {'longitude': -4.0762889, 'accuracy': 30.0, 'altitude': -1.0, 'latitude': 55.7766957, 'heading': -1.0, 'speed': -1.0}, 'odometer': 9212.1}, 'loc': {'coordinates': [-4.07628870010376, 55.776695251464844], 'type': 'Point'}, 'deviceid': '878dd25dbeb35d1a', '_id': ObjectId('598fe5f4b783c2b95a37d730'), 'userid': '54808'}

{'_source': {'timestamp': '2065-03-23T13:35:30.006Z', 'is_moving': False, 'activity': {'confidence': 100.0, 'type': 'still'}, 'extras': {}, 'event': 'motionchange', 'odometer': 85438.5, 'battery': {'is_charging': False, 'level': 0.76}, 'uuid': '61ae8224-eeba-4ce2-9578-3c1afb504f4e', 'coords': {'longitude': 0.3507212, 'altitude': -1.0, 'latitude': 51.4321777, 'heading': -1.0, 'accuracy': 20.0, 'speed': -1.0}}, 'loc': {'coordinates': [0.35072121024131775, 51.43217849731445], 'type': 'Point'}, 'deviceid': '4b5ae04e6071c085', '_id': ObjectId('598f49e3b783c2b95a30a3d3'), 'userid': '81032'}

{'_source': {'timestamp': '2065-03-21T08:12:18.216Z', 'odometer': 14.8, 'activity': {'confidence': 92.0, 'type': 'still'}, 'extras': {}, 'battery': {'is_charging': False, 'level': 0.46}, 'is_moving': True, 'uuid': '71d288d1-e70f-4905-9d5b-742d406d706d', 'coords': {'accuracy': 10.9, 'longitude': -0.2358367, 'altitude': -1.0, 'latitude': 51.3993355, 'heading': -1.0, 'speed': -1.0}}, 'loc': {'coordinates': [-0.2358366996049881, 51.39933395385742], 'type': 'Point'}, 'deviceid': 'c4d789bc3a8e92f6', '_id': ObjectId('598db9e1b783c2b95ad8772a'), 'userid': '141088'}